@import url('https://googleapis.com');

html  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    user-select: none;
    background-color: rgba(162, 17, 17, 0.232);
}

h1 {
    font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.center {
    text-align: center;
}

#button {
    padding: 90px;
    background-color: rgb(255, 43, 43);
    color: white;
    border-radius: 60px;
    border-color: brown;
    border-width: 15px;
    transition: all 0.2s ease-in-out;
}

#button:active {
    transform: scale(0.90);
}

#button:hover {
    background-color: rgb(166, 0, 0);
}
